body{
    margin: 3em 5em;
}

main{
    background-color: lightblue;
    border: 3px solid black;
    padding: 1.5em;
}

#button {
    display: flex;
}
main p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7em;
}

.celcius input,select{
    border-radius: 5px;
    margin: 2px;
}

.convert{
    border-radius: 5px;
    margin-top: 0.3em;
    box-shadow: 3px 2px #888888;
    background-color: green;
    min-width: 5em;
}

.reset{
    border-radius: 5px;
    margin-top: 0.3em;
    box-shadow: 3px 2px #888888;
    background-color: red;
    min-width: 5em;
}
.fahrenheit input{
    border-radius: 5px;
}

.hasil-convert input{
    border-radius: 5px;
}

main input{
    width: 100%;
}

hr{
    border-color: black;
}

.huruf-s{
    font-size: medium;
    font-style: italic;
}

@media only screen and (max-width:321px){
    body{
        margin: 3em 2em;
    }
    main{
        background-color: lightblue;
        border: 3px solid black;
        padding: 1.5em;
    }

    #button {
        display: flex;
        flex-direction: column;
    }
}
